<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>


<style type="text/css">

    li{
        float: left;
        list-style-type: none;
        margin-left: 20px;
    }

</style>

<body>

<h4>采购模块</h4>
<ul>
    <li><a href="html/buy/qingou.html">采购请购单</a>&nbsp;<span>熊家美</span></li>
    <li><a href="html/buy/caigouxunjai.html">采购询价单</a></li>
    <li><a href="html/buy/caigoudingdan.html">采购订单</a>&nbsp;<span>黄伟华</span></li>
    <li><a href="html/buy/ruku.html">采购入库单</a>&nbsp;<span>易思琪</span></li>
    <li><a href="html/buy/caiGouTuiHuo.html">采购退货单</a>&nbsp;<span>刘思棋</span></li>
    <li><a href="html/buy/采购分摊.html">采购分摊单</a>&nbsp;<span>廖智恒</span></li>
</ul>

<br/>
<h4>销售模块</h4>
<ul>
    <li><a href="html/sales/baojia.html">销售报价单</a>&nbsp;<span>陈亦鹤</span></li>
    <li><a href="html/sales/DingDan.html">销售订单</a>&nbsp;<span>宾伟豪</span></li>
    <li><a href="html/sales/shipment.html">销售出库单</a>&nbsp;<span>云霞飞</span></li>
    <li><a href="html/sales/销售退货.html">销售退货单</a>&nbsp;<span>张啸</span></li>
</ul>


<br/>
<h4>库存管理</h4>
<ul>
    <li><a href="html/depot/pandain.html">盘点单</a>&nbsp;<span>刘思棋</span></li>
    <li><a href="html/sales/tiaojia.html">调价单</a>&nbsp;<span>云霞飞</span></li>
    <li><a href="html/buy/调拨单.html">调拨单</a>&nbsp;<span>黄伟华</span></li>
</ul>


<br/>
<h4>账款管理</h4>
<ul>
    <li><a href="html/buy/Yusk.html">预收款</a>/<a href="html/buy/YingSK.html">应收冲款</a>&nbsp;<span>刘世宇</span></li>
    <li><a href="html/buy/caigoucaiwu.html">预付款/应付冲款</a>&nbsp;<span>王权</span></li>
</ul>


</body>
</html>